/**
 * basicGrid 会提供的一些css，如果需要定义表格，可以在这儿下手
 *
 * $Id$
 *
 */

.basicGrid {
	border: 1px solid #ccc;
}
.basicGrid thead .rownum {
	background-color: #eee;
}
.basicGrid tbody .rownum {
	background-color: #eee;
	text-align: right;
	padding-right: 5px;
}
.basicGrid thead .th-cb-all {
	width: 30px;
	text-align: center;
}
.basicGrid tbody .td-cb-row {
	text-align: center;
}
.basicGrid .empty-tbody {
	text-align: center;
}

/**
 * 交叉行颜色
 */
.basicGrid .alt-row-color {
	background-color: #ccc;
}

/**
 * 选中后行上的样式
 */
.basicGrid .tr-cb-row-active, .basicGrid .tr-cb-row-active .rownum {
	background-color: green;
}
/**
 * 选中后复选框所在 td 的样式
 */
.basicGrid .td-cb-row-active {

}

.basicGrid .row-hover {
	background-color: blue;
	color: white;
}


/**
 * pagebar
 */
.basicGridPagebar {
	border: 1px solid red;
}
.basicGridPagebar .pagerinfo {
	float: left;
}
.basicGridPagebar .pagination {
	float: right;
}
/**
 * 可以用来显示个菊花
 */
.basicGridPagebar .pagination .page-loading {

}
